@use './fonts' as *;

@each $font, $value in $fonts {
  @font-face {
    font-family: #{$value};
    src: url('../../assets/fonts/#{$value}-webfont.woff2') format('woff2'),
    url('../../assets/fonts/#{$value}-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
