$shadows: (
  color-1: 0 25px 25px -10px rgba(158, 158, 158, 0.24),
  color-2: 0 25px 25px -10px rgba(117, 117, 117, 0.24),
  color-3: 0 25px 25px -10px rgba(97, 97, 97, 0.24),
  color-4: 0 25px 25px -10px rgba(66, 66, 66, 0.24),
  color-5: 0 25px 25px -10px rgba(33, 33, 33, 0.24)
);
