//------------------------------------------------------------------------------
// Grid Columns
//------------------------------------------------------------------------------
$grid-cols: 12 !default;
$grid-gap: 20px;
$grid-gap-xl: 30px;

//------------------------------------------------------------------------------
// Spacere
//------------------------------------------------------------------------------
$spacer: 16px;

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
$root-font-size: 16px;

