@use '../abstracts/' as *;

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 toRem(8px) 0;
  color: var(--dark-color-4);
  font-family: var(--font-family-primary-bold);
  line-height: 1.2;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: toRem(56px);
  line-height: 1.14;
}

h2, .h2 {
  font-size: toRem(40px);
  line-height: 1.2;
}

h3, .h3 {
  font-size: toRem(30px);
  line-height: 1;
}

h4, .h4 {
  font-size: toRem(20px);
  line-height: 1.4;
}

h5, .h5 {
  font-size: toRem(18px);
  line-height: 1.4;
}

h6, .h6 {
  font-size: toRem(16px);
  line-height: 1.4;
}
