@use '../abstracts/' as *;

.btn {
  --btn-height: #{toRem(72px)};

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: var(--btn-height);
  background-color: var(--neutral-color-4);
  font-family: var(--font-family-primary-black);
  font-size: toRem(20px);
  line-height: 1.75;
  letter-spacing: toRem(4px);
  text-transform: uppercase;
  transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
  cursor: pointer;

  &__text,
  &__icon {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
      z-index: -1;
      transition: clip-path 0.75s ease-in-out;
    }
  }

  &__text {
    padding: toRem(26px);
    line-height: 1;

    &::after {
      background-color: var(--neutral-color-4);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(56px);
    height: var(--btn-height);
    background-color: var(--dark-color-1);

    &::after {
      background-color: var(--neutral-color-5);
    }
  }

  &__arrow {
    width: toRem(10px);
    height: toRem(24px);
    background-color: var(--neutral-color-1);
    mask-image: url('assets/images/shared/icon-arrow-right.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
  }

  &:hover,
  &:focus,
  &.active {
    background-color: var(--neutral-color-5);

    .btn {
      &__text,
      &__icon {
        &::after {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
      }
    }
  }

  &--reverse {
    .btn {
      &__text,
      &__icon {
        &::after {
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        }
      }

      &__text {
        order: 2;
      }
  
      &__icon {
        order: 1;
      }

      &__arrow {
        mask-image: url('assets/images/shared/icon-arrow-left.svg');
      }
    }

    &:hover,
    &:focus,
    &.active {
      .btn {
        &__text,
        &__icon {
          &::after {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
      }
    }
  }

  &--primary {
    background-color: var(--dark-color-2);
    color: var(--neutral-color-1);
    transition: background-color 0.75s ease-in-out;

    .btn {
      &__text {
        &::after {
          background-color: var(--gold-color-1);
        }
      }

      &__icon {
        background-color: var(--gold-color-1);

        &::after {
          background-color: var(--dark-color-2);
        }
      }
    }

    &:hover,
    &:focus,
    &.active {
      background-color: var(--dark-color-2);

      // .btn {
      //   &__icon {
      //     &::after {
      //       background-color: var(--dark-color-2);
      //     }
      //   }
      // }
    }
  }

  &--secondary {
    background-color: var(--gold-color-1);
    color: var(--neutral-color-1);
    transition: background-color 0.75s ease-in-out;

    .btn {
      &__text {
        &::after {
          background-color: var(--dark-color-2);
        }
      }

      &__icon {
        background-color: var(--dark-color-2);

        &::after {
          background-color: var(--gold-color-1);
        }
      }
    }

    &:hover,
    &:focus,
    &.active {
      background-color: var(--gold-color-1);
    }
  }
}
