@use '../abstracts/' as *;

.feature {
  &__icon {
    display: inline-block;
    width: toRem(48px);
    height: toRem(48px);
    margin-right: toRem(8px);
  }

  &__title {
    color: var(--dark-color-2);
    margin-bottom: toRem(16px);
  }
}
