@use '../abstracts/' as *;

.hero {
  // &__content,
  // &__illustration {
  //   height: 100%;
  // }

  &__illustration {
    margin: 0 toRem(-20px) toRem(32px) toRem(-20px);
  }

  &__title {
    // margin-bottom: toRem(48px);
    // color: var(--dark-color-4);
    // font-size: toRem(72px);

    // span {
    //   color: var(--blue-color-1);
    // }

    width: toRem(340px);
    height: toRem(110px);
    margin-bottom: toRem(32px);
    // width: toRem(445px);
    // height: toRem(165px);
    // background: linear-gradient(to right, var(--neutral-color-1) 50%, var(--dark-color-2) 50%);
    background: var(--dark-color-2);
    mask-image: url('assets/images/shared/logo.svg');
    mask-position: top left;
    mask-repeat: no-repeat;
    mask-size: contain;
    text-indent: -99999px;
  }

  &__tag-line {
    font-family: var(--font-family-primary-regular);
    font-size: toRem(18px);
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: toRem(32px);
    }
  }

  @include media-breakpoint(xl) {
    &__content {
      padding-right: toRem(120px);
    }
  }
}
