@use '../abstracts/' as *;

.swatch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &__color {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: toRem(100px);
    margin-bottom: toRem(16px);
    padding: toRem(16px);
    background-color: var(--neutral-color-2);
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__hex {
    margin-bottom: 0;
    font-size: toRem(24px);
    line-height: 1.33;
    color: var(--neutral-color-1);
  }

  &__color-model {
    margin-bottom: 0;
    font-size: toRem(16px);
    line-height: 1.75;
  }

  &__color-model {
    font-family: var(--font-family-primary-regular);

    &-title {
      margin-right: toRem(32px);
      color: var(--dark-color-2--opacity-50);
    }

    &-value {
      color: var(--dark-color-2);
    }
  }

  &--bordered {
    .swatch {
      &__color {
        border: 1px solid var(--dark-color-1);
      }

      &__hex {
        color: var(--dark-color-1);
      }
    }
  }
}