@use '../abstracts/' as *;

.page {
  --map-height: #{toRem(550px)};

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  &__skip-link {
    position: absolute;
    top: toRem(20px);
    left: toRem(20px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: toRem(26px) toRem(32px);
    font-family: var(--font-family-primary-black);
    font-size: toRem(14px);
    line-height: 1.75;
    background-color: var(--dark-color-2);
    color: var(--neutral-color-1);
    z-index: var(--zindex-sticky);
    transform: translateX(-200%);
    transition: transform 0.25s ease-in-out, opacity 0.75s ease-in-out;

    &:focus {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__section {
    padding: toRem(60px) 0;
  }

  &__map,
  &__map-fallback {
    width: 100%;

    &--is-hidden {
      display: none;
    }
  }

  &__map {
    height: var(--map-height);
  }

  &__map-fallback {
    picture {
      height: var(--map-height);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include media-breakpoint(md) {
    --map-height: #{toRem(600px)};
  }

  @include media-breakpoint(lg) {
    &__map-fallback {
      img {
        height: unset;
      }
    }
  }
}
